[Unit]
Description=Retrieves and Stores the CPU and RAM usage.
Wants=network.target
After=network.target

[Service]
Type=simple
User=root
ExecStart=/opt/saenuma/flaarum/flstatsr
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
