{{define "scripts"}}
<script>
  $(document).ready(function() {

    $("#insert_row_btn").click(function(e) {
      const addr = "/load_insert_frag?table=" + $(e.target).data("table") +  "&project=" + $("#projects_switch").val()
      $.get(addr, function(data, status) {
        $("#insert_row_diag_inputs").html(data)
        const insertRowDialog = document.getElementById('insert_row_diag');
        insertRowDialog.showModal();
      })
    });

    $("#view_table_structure_btn").click(function(e) {
      $("#view_table_structure_diag h3").text("View Table Structure of " + $(e.target).data("table"))
      const addr = "/load_table_structure?table=" + $(e.target).data("table") +  "&project=" + $("#projects_switch").val()
      $.get(addr, function(data, status) {
        $("#view_table_structure_diag div").html("<pre>" + data + "</pre>")
        const viewTableStructureDialog = document.getElementById('view_table_structure_diag');
        viewTableStructureDialog.showModal()
      })
    })

    $("#edit_table_structure_btn").click(function(e) {
      $("#edit_table_structure_diag h3").text("Update Table Structure of " + $(e.target).data("table"))
      const addr = "/load_table_structure?table=" + $(e.target).data("table") +  "&project=" + $("#projects_switch").val()
      $.get(addr, function(data, status) {
        $("#edit_table_structure_diag textarea").text(data)
        const editTableStructureDialog = document.getElementById('edit_table_structure_diag');
        editTableStructureDialog.showModal()
      })
    })

    $("#insert_row_diag input[type=submit]").click(function(e) {
      e.preventDefault()

      var data = $("#insert_row_diag form").serialize()
      $.post("/insert_row", data, function(data, status, xhr) {
        const insertRowDialog = document.getElementById('insert_row_diag');

        if (xhr.status == 200) {
          insertRowDialog.close()
        } else {
          $("#insert_row_diag").append(data)
        }

        location.reload()
      });
    });

    $("#edit_table_structure_diag input[type=submit]").click(function(e) {
      e.preventDefault()
      var data = $("#edit_table_structure_diag form").serialize()
      $.post("/update_table_structure", data, function(data, status, xhr) {
        const tsDialog = document.getElementById('edit_table_structure_diag');
        if (xhr.status == 200) {
          tsDialog.close()
        } else {
          $("#edit_table_structure_diag").append(data)
        }

        location.reload()
      });
    });

    $(".delete_row_btn").click(function(e) {
      e.preventDefault()
      var data = {"table": $(e.target).data("table"), "id": $(e.target).data("id"), 
        "current_project": $("#projects_switch").val() }
      $.post("/delete_row", data, function(data, status, xhr) {
        location.reload();
      });

    });

    $("#delete_table_btn").click(function(e) {
      const deleteTableDialog = document.getElementById('delete_table_diag');
      deleteTableDialog.showModal();
    });

    $("#delete_table_diag button").click(function(e) {
      var data = {"table": $(e.target).data("table"), "current_project": $("#projects_switch").val() }

      $.post("/delete_table", data, function(data, status, xhr) {
        location.href = "/project/" + $("#projects_switch").val() 
      });

    });

  });
 

</script>
{{end}}

{{define "main"}}
  <div class="a_table">
    <div class="a_table_bar">
      Table: <b id="table_name">{{.CurrentTable}}</b>
      &nbsp;&nbsp;
      <span>Version: {{.CurrentVersion}}</span>
      &nbsp;&nbsp;
      <span>Rows Count : {{.AllRowsCount}}</span>
      &nbsp;&nbsp;
      <button id="insert_row_btn" data-table="{{.CurrentTable}}">Insert Row</button>
      &nbsp;&nbsp;
      <button id="view_table_structure_btn" data-table="{{.CurrentTable}}">View Table Structure</button>
      &nbsp;&nbsp;
      <button id="edit_table_structure_btn" data-table="{{.CurrentTable}}">Update Table Structure</button>
      &nbsp;&nbsp;
      <button id="delete_table_btn" data-table="{{.CurrentTable}}">Delete Table</button>
    </div>
    <br>
    <table>
      <thead>
        <tr>
          {{range .Fields}}
            <td>{{.}}</td>
          {{end}}
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        {{range .Rows}}
          <tr>
            {{range .}}
              <td>{{.}}</td>
            {{end}}

            {{$id := index . 0}}
            <td>
              <button data-id="{{$id}}" data-table="{{$.CurrentTable}}" class="edit_row_btn">edit</button>
              <button data-id="{{$id}}" data-table="{{$.CurrentTable}}" class="delete_row_btn">delete</button>
            </td>
          </tr>
        {{end}}
      </tbody>
    </table>
  </div>


{{end}}

{{define "dialogs"}}
  <dialog id="insert_row_diag">
    <h3>New Table</h3>
    <br>
    <form method="post" action="/insert_row">
      <input type="hidden" name="current_project" value="{{.CurrentProject}}" />
      <div id="insert_row_diag_inputs">

      </div>
      <br>
      <div>
        <input type="submit" name="Insert" />
      </div>
      <br>
      <i>Press ESC to dismiss</i>
    </form>
  </dialog>

  <dialog id="view_table_structure_diag">
    <h3></h3>
    <div>

    </div>
    <br>
    <i>Press ESC to dismiss</i>
  </dialog>

  <dialog id="edit_table_structure_diag">
    <h3>Edit Table Structure</h3>
    <form action="/update_table_structure" method="post">
      <input type="hidden" name="current_project" value="{{.CurrentProject}}" />

      <div>
        <textarea name="stmt"></textarea>
      </div>
      <br>
      <div>
        <input type="submit" name="Create" />
      </div>
    </form>
    <br>
    <i>Press ESC to dismiss</i>
  </dialog>

  <dialog id="delete_table_diag">
    <h3>Delete Table Confirmation</h3>
    <p>Are you sure you want to delete Table <b>{{$.CurrentTable}}</b></p>
    <p>Rows Count : {{.AllRowsCount}}</p>
    
    <button data-table="{{$.CurrentTable}}" type="button">Confirm Deletion</button>
    <br><br>
    <i>Press ESC to dismiss</i>

  </dialog>
{{end}}

