<div class="a_table">
  <div class="a_table_bar">
    <span id="table_name">{{.Table}}</span>
    &nbsp;&nbsp;
    <span>Version: {{.CurrentVersion}}</span>
    &nbsp;&nbsp;
    <span>Rows Count : {{.AllRowsCount}}</span>
    &nbsp;&nbsp;
    <button id="insert_row_btn" data-table="{{.Table}}">Insert Row</button>
    &nbsp;&nbsp;
    <button id="view_table_structure_btn" data-table="{{.Table}}">View Table Structure</button>
    &nbsp;&nbsp;
    <button id="edit_table_structure_btn" data-table="{{.Table}}">Update Table Structure</button>
  </div>
  <br>
  <table>
    <thead>
      <tr>
        {{range .Fields}}
          <td>{{.}}</td>
        {{end}}
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      {{range .Rows}}
        <tr>
          {{range .}}
            <td>{{.}}</td>
          {{end}}

          {{$id := index . 0}}
          <td>
            <button data-id="{{$id}}" data-table="{{$.Table}}" class="edit_row_btn">edit</button>
            <button data-id="{{$id}}" data-table="{{$.Table}}" class="delete_row_btn">delete</button>
          </td>
        </tr>
      {{end}}
    </tbody>
  </table>
</div>

